* {
    font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #f7b5f3;
}

#block {
    padding: 5%;
}

#top {
    background-color: #faf2f9;
    display: flex;
    flex-basis: 50%;
}

#block-1,
#block-2 {
    background-color: #faf2f9;
    border: 3px solid palevioletred;
    height: 40px;
    width: 300px;
    text-align: center;
    font-weight: bold;
}

#block-3 {
    background-color: #faf2f9;
    display: flex;
    flex-basis: 30%;
    border: 3px solid palevioletred;
    height: 400px;
    width: 500px;
    margin: 0 auto;
    position: absolute;
    right: 300px;
    top: 200px;
}


.grid-item {
    margin-bottom: 50px;
    padding: 20px;
}

.header img {
    border-radius: 100%;
    margin-right: 20px;
    height: 70px;
    width: 50px;
}

.header{
    position: sticky;
    top:0; left:0; right: 0;
    background-color: var(--white);
    border-bottom: var(--border);
 }
 
 .header .flex{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0rem 1rem;
 }
 
 .header .flex .search-form{
    width: 50rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding:1.5rem 2rem;
    display: flex;
    gap:2rem;
 
 }
 
 .header .flex .search-form input{
    width: 100%;
    font-size: 1.8rem;
    color:var(--black);
    background:none;
 }
 
 .header .flex .search-form button{
    background:none;
    font-size: 2rem;
    cursor: pointer;
    color:var(--black);
 }  
 
 .header .flex .search-form button:hover{
    color: var(--main-color);
 }
 
 .header .flex .profile{
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--white);
    border-radius: 100%;
    padding: 0%;
    text-align: right;
    width: 20rem;
 }
 
 
 .profile .flex-btn {
    display: flex;
    gap: 10px; 
}

.option-btn {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

.form-container{
    min-height: calc(100vh - 20rem);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .form-container form{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    width: 50rem;
 }
 
 .form-container form h3{
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--black);
    text-align: center;
 }
 
 .form-container form p{
    font-size: 1.7rem;
    color: var(--light-color);
    padding-top: 1rem;
 }
 
 .form-container form p span{
    color: var(--red);
 }
 
 .form-container form .box{
    font-size: 1.8rem;
    color: var(--black);
    border-radius: .5rem;
    padding: 1.4rem;
    background-color: var(--light-bg);
    width: 100%;
    margin: 1rem 0;
 }




.animated-element {
    cursor: pointer;
    transition: all 0.3s ease;
}


.animated-element:hover {
    transform: scale(1.1);
}


@media (min-width: 500px) {
    #block {
        display: flex;
        max-width: 750px;
        margin: 0 auto;
        flex-basis: 50%;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 100px;
    }
}